<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Adam Gutglick</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path='shared.css') }}">
</head>

<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>
<footer>
    <p><a href="{{ get_url(path='/') }}">Home</a></p>
    <!-- <p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a></p> -->
    <p><a href="{{ get_url(path='/favorites') }}">Favorites</a></p>
    <p><a href="{{ get_url(path='/other') }}">Other Writing</a></p>
    <p><a href="{{ get_url(path='/about') }}">About</a></p>
</footer>

</html>